<!--===PREHEADER===-->
<table align="center" width="<%= current_page.data.table_width %>" id="topLinks" class="fixed-table" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" valign="top" <%= current_page.data.inner_color %>>
      <table <%= current_page.data.inner_color %> align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#333333; -webkit-text-size-adjust:none; padding-top:7px; padding-bottom:7px;"><a alias="topLink" href="<%= current_page.data.promo_url %>" target="_blank" style="text-decoration:none;"><span style="color:#333333; text-decoration:underline;"><%= current_page.data.topLink %></span></a> <span class="hide-mobile">| <a alias="viewInBrowser" href="%%view_email_url%%" target="_blank" style="text-decoration:none;"><span style="color:#333333; text-decoration:underline;">View in your browser</span></a></span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===PREHEADER===-->