<!--===SOCIAL SECTION===-->
<table align="center" width="<%= current_page.data.table_width %>" id="socialSection" class="fixed-table" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" valign="top" bgcolor="#<%= current_page.data.inner_color %>" style="padding-top:10px; padding-bottom:10px;">
      <table align="center" width="25%" cellpadding="3" cellspacing="0" border="0">
        <tr>
          <td align="center" valign="top"><a href="<%= current_page.data.twitter %>" target="_blank" title="Twitter"><img src="http://image.exct.net/lib/fef917747d6106/m/1/social_twitter_grey_28.png" width="28" height="28" alt="Twitter" border="0" /></a></td>
          <td align="center" valign="top"><a href="<%= current_page.data.rss %>" target="_blank" title="Feeds"><img src="http://image.exct.net/lib/fef917747d6106/m/1/social_rss_grey_28.png" width="28" height="28" alt="RSS" border="0" /></a></td>
          <td align="center" valign="top"><a href="<%= current_page.data.facebook %>" target="_blank" title="Facebook"><img src="http://image.exct.net/lib/fef917747d6106/m/1/social_facebook_grey_28.png" width="28" height="28" alt="Facebook" border="0" /></a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END SOCIAL SECTION===-->