<!--===FOOTER===-->
<table align="center" width="<%= current_page.data.table_width %>" id="footer-table" class="fixed-table" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="remove-pad" align="center" valign="top">
      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="remove-pad" valign="top" style="padding-bottom:20px;">
            <table align="center" <%= current_page.data.ftr_bg_color %> width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td class="disclosure" align="center" valign="top" <%= current_page.data.ftr_bg_color %> style="<%= current_page.data.ftr_color %> font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; -webkit-text-size-adjust:none; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">*Offer expires %%=Format(DateAdd(Now(), "<%= current_page.data.expDays %>","D"), "MM/dd/yyyy")=%%. Certain restrictions apply. <a alias="ftrpromo" href="<%= current_page.data.promo_url %>" target="_blank" style="text-decoration: none;"><span style="text-decoration: underline; <%= current_page.data.ftr_color %>">Go here</span></a> or <a alias="ftrPubPhone" href="tel:<%= current_page.data.pub_phone %>" target="_blank" style="text-decoration: none;"><span style=" <%= current_page.data.ftr_color %>">call</span></a> for more details.
                </td>
              </tr>
              <tr>
                <td class="noreply" align="center" valign="top" <%= current_page.data.ftr_bg_color %> style="<%= current_page.data.ftr_color %> font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; -webkit-text-size-adjust:none; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">This message has been sent from a mailbox that cannot receive replies. We're happy to help you with any questions or concerns you have regarding your account or a promotional offer. Please contact us directly at <a alias="noreplyCSEMAIL" name="noreply" href="<%= current_page.data.csemail %>" target="_blank" style="text-decoration: none;"><span style="text-decoration: underline; <%= current_page.data.ftr_color %>"><%= current_page.data.csemail %></span></a> or call <a alias="noreplyPubPhone" href="tel:<%= current_page.data.pub_phone %>" target="_blank" style="text-decoration: none;"><span style=" <%= current_page.data.ftr_color %>"><%= current_page.data.pub_phone %></span></a>.
                </td>
              </tr>
              <tr>
                <td class="unsub" align="center" valign="top" <%= current_page.data.ftr_bg_color %> style="<%= current_page.data.ftr_color %> font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; -webkit-text-size-adjust:none; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">This email was sent to: <a href="#" style="<%= current_page.data.ftr_color %> text-decoration:none; font-weight:bold;">%%emailaddr%%.</a>
                <br />To unsubscribe from future circulation promotions from
                <br />%%Member_Busname%%, <a alias="unsubscribe" name="unsub" href="https://account.PUBURL.com/newsletters/?email=%%EmailAddr%%" title="unsubscribe from future offers" style="color:#000001">visit the following web page</a>.
                </td>
              </tr>
              <tr>
                <td class="address" align="center" valign="top" <%= current_page.data.ftr_bg_color %> style="<%= current_page.data.ftr_color %> font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:14px; -webkit-text-size-adjust:none; padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px;">%%Member_Addr%% | %%Member_City%%, %%Member_State%% | %%Member_PostalCode%% | %%Member_Country%%<br />&copy; <b>%%Member_Busname%%</b>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--===END FOOTER===-->